# OS & Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Dependencies
/node_modules
/vendor

# Environment & Config
.env
.env.*.local
.env.backup
.env.production
/auth.json

# Cache & Logs
*.log
/.phpunit.cache
/.phpunit.result.cache
.phpactor.json

# Laravel Specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
# (Opsional) jika ingin lebih aman, biasanya folder storage di-ignore hampir semuanya, 
# kecuali file .gitignore di dalam folder storage itu sendiri.

# VM
Homestead.json
Homestead.yaml